# ADD HERE ALL FILE EXTENSIONS WITH PERSONAL DATA OR SENSITIVE INFORMATION THAT SHOULD NOT BE TRACKED BY GIT
.env
/Agent Info/
*.pyc

node_modules/
frontend/dist/
quotation-manager/frontend/dist/
.env.crm-whatsapp-2
backend/.venv-win/
backend/backend_test.db
quotation-manager/backend/.venv-win/
quotation-manager/backend/backend_test.db