fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai
cryptography

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]

httpx

